input[type="checkbox"] {
  display: none;
}

.toggle input[type="checkbox"] + label:after{
  content: attr(data-off-text);
}

.toggle input[type="checkbox"]:checked + label:after{
  content: attr(data-on-text);
}

.whitelist_container {
  max-width: 87vw;
  max-height: 40vh;
  overflow-y: auto;
}

.options_card {
  width: 400px;
  height: 500px;
}

.options_card_title {

}

.options_card_body {

}