input[type="checkbox"] {
  display: none;
}

.toggle input[type="checkbox"] + label:after{
  content: attr(data-off-text);
}

.toggle input[type="checkbox"]:checked + label:after{
  content: attr(data-on-text);
}

.whitelist_container {
  max-width: 87vw;
  max-height: 20vh;
  overflow-y: auto;
}